/**
 * SHAME.CSS
 *
 * This file is for CSS that is hacky, temporary, or needs to be
 * refactored and moved to the correct layer later.
 *
 * Leave a comment on each rule explaining:
 * - Why it was needed
 * - Where it should eventually live
 * - Any relevant issue or PR reference
 */


.prose {

}

:where(.o-split) {
    display: grid;
    gap: var(--size-double);
    align-items: center;
}

@media (min-width: 600px) {
    :where(.o-split) {
        grid-template-columns: repeat(2, 1fr);
    }

    :where(.o-split--uneven) {
        grid-template-columns: 1.3fr 0.7fr;
    }

    :where(.o-split__content.prose) {
        padding-block: var(--size-double);
    }
}


:where(.o-split__image) {
    height: 100%;
}

:where(.o-split__image img) {
    height: 100%;
    object-fit: cover;
}

.prose * + * {
    margin-block-start: var(--size-full);
}

:where(.o-tile) {
      border: 1px solid var(--color-border--decorate);
  padding: var(--size-full);
  border-radius: 6px;
}