/* ==========================================================================
   Menu
   Component: Main site navigation menu
   ========================================================================== */

.c-menu {
  /* position: relative; */
}

/* Generic reset */
.c-menu__panel[hidden],
.c-menu__backdrop[hidden] {
  display: none;
}

/* :target fallback for no JS */
.c-menu__panel {
  display: none;
  /* position: absolute; */
  /* inset: 0 auto auto 0; */
  /* transform: translateY(-100%); */
  background: white;
  transition: transform 0.3s ease;
  z-index: 10;
}

:target.c-menu__panel {
  /* transform: translateY(0%); */
  display: block;
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
  .c-menu__panel,
  .c-menu__backdrop {
    transition: none !important;
    animation: none !important;
  }
}

/* =============== */
/* JS-enhanced 🟢 */
/* =============== */

.c-menu__toggle {
  appearance: none;
  border: none;
  background: none;

  position: relative;
  z-index: 11;

  display: flex;
  align-items: center;
  gap: var(--size-quarter);  
}

.c-menu__toggle .icon {
  width: var(--size-double);
  height: var(--size-double);
}

.c-menu__toggle-label {
  text-transform: uppercase;
  font-size: var(--font-size-1);
  font-weight: 500;
  font-family: "Alegreya Sans";
  line-height: 1;
  position: relative;
  margin-block-start: 0.15em;  
}

/* Menu panel */
[data-js] .c-menu__panel {

  position: absolute;
  top: 0;
  right: 0;
  width: 30em;
  max-width: 80vw;
  height: 100%;
  /* transform: translateX(100%); */
  /* transition: transform 0.3s ease; */

  background-color: lightgreen;

  /* position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  max-width: 320px;
  height: 100vh;
  background: white;
  padding: 2rem;
  overflow-y: auto;
  z-index: 1100;

    background: lightgreen;
 */
}

[data-js] .c-menu__panel[data-open="false"] {
  display: none;
}

[data-js] .c-menu__panel[data-open="true"] {
  display: block;
}

@media (width <= 819px) {
  [data-js] .c-menu__panel {
    transform: translateX(100%);
  }

  [data-js] .c-menu__panel[data-open="true"] {
    transform: translateX(0);
  }

}

.c-menu__panel a.active {
  /* font-weight: bold;
  text-decoration: underline;
  color: #07c; */
}

@media (width >= 820px) {
  [data-js] .c-menu__panel {
    height: auto;
    top: 100%;
    /* position: absolute;
    height: auto;
    width: auto;
    max-width: none;
    inset: auto auto auto 0;
    top: 100%;
    right: auto;
    transform: translateY(-20%);
    opacity: 0;
    pointer-events: none; */
  }

  [data-js] .c-menu__panel[data-open="true"] {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
      z-index: -1;

  }

}

/* Backdrop */
[data-js] .c-menu__backdrop {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 45%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  z-index: 9;
}

[data-js] .c-menu__backdrop[data-open="true"] {
  opacity: 1;
  pointer-events: auto;
}

@media (width >= 820px) {
  [data-js] .c-menu__backdrop {
    display: none;
  }
}





