.o-container {
  --container-main-maxwidth: 1200px;
  --container-main-gap: var(--size-full);

  display: grid;
  grid-template-columns:
    [full-start] 1fr [page-start] var(--container-main-gap)
    [main-start] minmax(0, var(--container-main-maxwidth)) [main-end]
    var(--container-main-gap) [page-end] 1fr auto[full-end];
}

.o-container > * {
  grid-column: main;
}

.o-container__page {
  grid-column: page;
}

.o-container__breakout {
  grid-column: full;
}




/* temp */

:where(.o-tile) + :where(.o-tile) {
    margin-block-start: var(--size-double);
}


.o-compound {
  --width-limit--inner: 70ch;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media screen and (min-width: 42em) {
  .o-compound {
    max-width: var(--width-limit--inner);
  }
}

main > :last-child {
    padding-block-end: var(--size-quad);
}

main > :first-child:not(.o-block--margin-zero) {
    margin-block-start: var(--size-double);
}