:root {
    --layout-container-gap: 30px;
    --layout-container-maxwidth: 1000px;
}

.container {
    display: grid;
    grid-template-columns: [full-start] 1fr [page-start] var(--layout-container-gap)
    [main-start] minmax(0, var(--layout-container-maxwidth)) [main-end] var(
    --layout-container-gap
    )
    [page-end] 1fr auto[full-end];
}

.container > * {
    grid-column: main;
}

.container__page {
    grid-column: page;
}

.container__breakout {
    grid-column: full;
}
