.compound {
    max-width: 65ch;
    width: 100%;

    margin-inline: auto;
}

.compound {
    display: grid;
    grid-template-columns: [stretch-start] 1fr [compound-start] minmax(
    0,
    var(--layout-compound-maxwidth)
    )
    [compound-end] 1fr [stretch-end];
    max-width: calc(65ch + var(--layout-container-gap) * 4);
    width: 100%;

    --layout-compound-maxwidth: 65ch;
    margin-inline: auto;
}

.compound > * {
    grid-column: compound;
}

.compound__stretch {
    grid-column: stretch;
}
