<div class="container sg-container">
	<p>Container</p>

	<div class="container__breakout sg-container__breakout">
		<p>Container Breakout width</p>
	</div>

	<div class="container__page sg-container__page">
		<p>Container Page width</p>
	</div>

	<div class="compound sg-compound">
		<p><strong>Compound.</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio at quia sit soluta reprehenderit magnam aspernatur quae voluptates, rerum quod error, placeat accusamus est consectetur necessitatibus ratione, nam sequi consequatur!</p>
		<div class="compound__stretch sg-compound__stretch">
			<p>Compound stretch width</p>
		</div>
	</div>

	<div class="sg-block">Regular block</div>
</div>
