<footer class="c-footer">

  <nav class="c-footer__links" aria-label="Sidfotslänkar">
    <a href="/kontakt/">Kontakta oss</a>
    <a href="/upplagor/">Tidigare upplagor av stämman</a>
    <a href="/sitemap.xml">Sitemap</a>
  </nav>

  <p class="c-footer__copyright">&copy; 2026 Bingsjöstämman</p>

</footer>
