/* src/_includes/components/footer/footer.css */

.c-footer {
    position: relative;
    overflow: hidden;;
}

.c-footer__links {
}

.c-footer__logo.logo--bingsjostamman {
    height: 6rem;
}

.c-footer__logo + * {
    margin-block-start: var(--size-full);;
}

.c-footer__partners {
    display: flex;
    flex-direction: column;
    gap: var(--size-full);
    align-items: center;
    margin-block: var(--size-double);
}

.c-footer__partner-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--size-double);
    row-gap: var(--size-full);
    justify-content: center;
}

.c-footer__copyright {
    margin-block: var(--size-double);
    margin-inline: auto;
    text-align: center;
    font-size: var(--font-size-0);
}

.c-footer__some {
    text-align: center;
}

.c-footer__some-link {
    display: inline-block;
    margin-inline: var(--size-half);
}

.c-footer__some-icon {
    width: var(--size-double);
    height: var(--size-double);
}

.c-footer__corner {
  grid-area: full;
  position: absolute;
  bottom: -0.3em;
  right: -6.8em;
  width: 14em;
}

.c-footer__corner-graphic {
  width: 100%;
  height: 100%;
  opacity: 0.05;
}

