{% from "components/logo/logo.njk" import logo %}

<footer class="c-footer o-container t-component-footer-top">

  <div class="c-footer__partners">
    <h2 class="c-footer__subheading">Bingsjöstämman sponsras av Leksands Sparbank</h2>
      {{ logo("leksands-sparbank", "c-footer__logo") }}

    <h2 class="c-footer__subheading">Vi som samarbetar kring Bingsjöstämman</h2>
    <ul class="c-footer__partner-list">
      <li class="c-footer__partner-item">{{ logo("fmh") }}<span class="u-visually-hidden">Folkmusikens Hus</span></li>
      <li class="c-footer__partner-item">{{ logo("bingsjo") }}<span class="u-visually-hidden">Bingsjö Bystugeförening</span></li>
      <li class="c-footer__partner-item">{{ logo("dsf") }}<span class="u-visually-hidden">Dalarnas Spelmansförbund</span></li>
    </ul>
    <ul class="c-footer__partner-list">
      <li class="c-footer__partner-item">{{ logo("stammoveckan") }}<span class="u-visually-hidden">Stämmoveckan</span></li>
      <li class="c-footer__partner-item">{{ logo("bilda") }}<span class="u-visually-hidden">Bilda</span></li>
    </ul>
  </div>
  
  <div class="o-container__breakout o-container t-component-footer-end">
    <div class="c-footer__copyright">
      {{ logo("bingsjostamman", "c-footer__logo") }}
      <div>&copy; {{ "now" | date("yyyy") }} {{ site.name }}</div>
    </div>
  </div>

  {% if not env.isProd %}
  <nav class="c-footer__dev-links" aria-label="Testsidor">
    <a href="/components/">Components</a>
    <a href="/start/">Start</a>
    <a href="/test/accessibility/">Accessibility</a>
    <a href="/test/pagespeed/">Page Speed</a>
    <a href="/test/carbon/">Website Carbon Footprint</a>
  </nav>
  {% endif %}


  {% if not env.isProd %}
  <p class="c-footer__debug">env.isProd = {{ env.isProd }} | env.name = {{ env.name }}</p>
  {% endif %}

</footer>
