---
layout: layouts/base
year: 2025
eleventyComputed:
  title: "Allspel – Bingsjöstämman {{ year }}"
  permalink: "{% if year == editions.current %}/allspel/index.html{% else %}/{{ year }}/allspel/index.html{% endif %}"
---
{% from "components/allspel-table/allspel-table.njk" import allspelTable %}

<h1>Allspel</h1>

<div class="page-intro">
  {{ copy.intro | markdown | safe }}
</div>

{{ allspelTable(tunes) }}