---
layout: layouts/base
year: 2025
eleventyComputed:
  title: "Bingsjöstämman {{ year }}"
  permalink: "{% if year | string == editions.current %}/index.html{% else %}/{{ year }}/index.html{% endif %}"
  isArchive: "{{ year | string != editions.current }}"  
---

{% from "components/hero/hero.njk" import hero %}



{{ hero({
  imageId: "2026/Bingsjo_2025-38_xvzbt6",
  imageAlt: "",
  eyebrow: "Bingsjöstämman",
  title: "Välkommen till årets festival",
  text: "Här kan du lägga en kort introtext ovanpå hero-bilden."
}) }}


<h1>Bingsjöstämman {{ year }}</h1>
<p>Välkommen till festivalen! {{editions.current }} (Archive is {{ isArchive }})</p>

{% include "components/headline-acts/headline-acts.njk" %}

<ul>
  <li>
    <a href="{% if year == editions.current %}/scen/{% else %}/{{ year }}/scen/{% endif %}">
      Artister {{ year }}
    </a>
  </li>
  <li>
      <a href="{% if year == editions.current %}/oversikt/{% else %}/{{ year }}/oversikt/{% endif %}">
      Översikt {{ year }}
    </a>
  </li>
</ul>

{% if isArchive == "true" %}
<div class="archive-banner">
  This is an archive from {{ year }}.
  <a href="/">View current festival →</a>
</div>
<meta name="robots" content="noindex">
{% endif %}

{% if isArchive == "true" %}
  <p class="ticket-info">
    Detta är en arkiverad utgåva. Aktuella biljettpriser visas inte.
  </p>
{% else %}
  <p class="ticket-info">
    <strong>Biljettpriser {{ year }}:</strong><br>
    {% price "Vuxen", "general" %}
    {% price "Ungdom", "youth" %}
    {% price "Camping", "camping" %}
  </p>
{% endif %}



