---
layout: layouts/legacy
year: 2025
eleventyComputed:
  title: "Bingsjöstämman"
  permalink: "{% if year | string == editions.current %}/index.html{% else %}/{{ year }}/index.html{% endif %}"
  isArchive: "{{ year | string != editions.current }}"  
---

			<div class="glacier">
				<h1 class="home-heading">Välkommen till Bingsjöstämman</h1>

				<p>
					Varje sommar samlas spelmän, dansare och andra
					musikintresserade några dagar, kvällar och nätter i början
					av juli. Hela Bingsjö blir en levande scen där alla är
					välkomna att deltaga. Eller bara lyssna.
				</p>
				<p>
					Den lilla byn i Rättviks finnmark blir världens mittpunkt
					för tusentals folkmusiktörstande. Här flyter mötet mellan
					bybo och besökare, musikant och dansare, publik och artist
					ihop till en unik och ljuvlig blandning. Suset av toner från
					förtält och buskar breder ut sig och byn tystnar inte förrän
					solen gått upp på torsdagsmorgonen.
				</p>
				<p>
					<strong>
						Just nu jobbar vi för fullt med att planera inför nästa
						Bingsjöstämma. Välkommen den 1 juli 2026!</strong>
				</p>
				<p>
					Bingsjöstämman arrangeras första onsdagen i juli sedan 1969.
					Bakom arrangemanget står Dalarnas Spelmansförbund,
					Folkmusikens Hus och Bingsjö Bystugeförening.
				</p>
			</div>



