---
layout: layouts/base
year: 2025
eleventyComputed:
  title: "Onsdag {{ dates.onsdag | swedishDate }} – Bingsjöstämman {{ year }}"
  permalink: "{% if year == editions.current %}/onsdag/index.html{% else %}/{{ year }}/onsdag/index.html{% endif %}"
---
{% from "components/stage-list/stage-list.njk" import stageList %}

<h1>Onsdag {{ dates.onsdag | swedishDate }}</h1>

{{ stageList("Nygårdsgården", lineup, "onsdag") }}

{{ stageList("Invigning", lineup, "onsdag") }}

{{ stageList("Dansbanan", lineup, "onsdag", "invigning") }}

{{ stageList("Bagarstugan", lineup, "onsdag") }}

{{ stageList("Danielsgården", lineup, "onsdag") }}

{{ stageList("Bystugubanan", lineup, "onsdag") }}

{{ stageList("Kapellet", lineup, "onsdag") }}

{{ stageList("Levande ladan", lineup, "onsdag") }}

{{ stageList("Låttältet", lineup, "onsdag") }}

{{ stageList("Tunet", lineup, "onsdag") }}

{{ stageList("Logen", lineup, "onsdag") }}
