/* Styleguide styles */
/**
 * BASE
 */
/* Styleguide styles */
/*! No CSS before this comment! */
/**
 * CONFIG
 */
/* @font-face */
/* Alegreya */
@font-face {
  font-family: "Alegreya";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-BlackItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Italic.woff2") format("woff2");
}
/* Alegreya Sans */
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-BlackItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-ThinItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplayMediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-Italic.woff2") format("woff2");
}
body {
  font-family: Playfair, "Alegreya Sans";
}

h1,
h2,
h3 {
  font-family: Playfair, Alegreya;
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-3);
}

.fineprint {
  font-size: var(--font-size--1);
}

/* @font-face */
/* Alegreya */
@font-face {
  font-family: "Alegreya";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-BlackItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Italic.woff2") format("woff2");
}
/* Alegreya Sans */
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-BlackItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-ThinItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplayMediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-Italic.woff2") format("woff2");
}
body {
  font-family: Playfair, "Alegreya Sans";
}

h1,
h2,
h3 {
  font-family: Playfair, Alegreya;
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-3);
}

.fineprint {
  font-size: var(--font-size--1);
}

/**
 * ELEMENTS
 */
/**
 * NORMALIZE
 *
 * https://github.com/csstools/postcss-normalize
 * https://github.com/browserslist/browserslist
 */
/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 */
:where(html) {
  line-height: 1.15; /* 1 */
}
/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
:where(h1) {
  font-size: 2em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
}
/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */
:where(dl, ol, ul) :where(dl, ol, ul) {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 */
:where(hr) {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  color: inherit; /* 2 */
  height: 0; /* 1 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct text decoration in Safari.
 */
:where(abbr[title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
:where(b, strong) {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
:where(small) {
  font-size: 80%;
}
/* Tabular data
 * ========================================================================== */
/**
 * 1. Correct table border color in Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
:where(table) {
  border-color: currentColor; /* 1 */
  text-indent: 0; /* 2 */
}
/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
:where(button, input, select) {
  margin: 0;
}
/**
 * Remove the inheritance of text transform in Firefox.
 */
:where(button) {
  text-transform: none;
}
/**
 * Correct the inability to style buttons in iOS and Safari.
 */
:where(button, input:is([type="button" i], [type="reset" i], [type="submit" i])) {
  -webkit-appearance: button;
}
/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
:where(progress) {
  vertical-align: baseline;
}
/**
 * Remove the inheritance of text transform in Firefox.
 */
:where(select) {
  text-transform: none;
}
/**
 * Remove the margin in Firefox and Safari.
 */
:where(textarea) {
  margin: 0;
}
/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
:where(input[type="search" i]) {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
:where(button, input:is([type="button" i], [type="color" i], [type="reset" i], [type="submit" i]))::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:where(button, input:is([type="button" i], [type="color" i], [type="reset" i], [type="submit" i]))::-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Remove the additional :invalid styles in Firefox.
 */
:where(:-moz-ui-invalid) {
  box-shadow: none;
}
/* Interactive
 * ========================================================================== */
/*
 * Add the correct styles in Safari.
 */
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
:where(dialog:not([open])) {
  display: none;
}
/*
 * Add the correct display in all browsers.
 */
:where(summary) {
  display: list-item;
}
:root {
  --font-size--2: clamp(.83rem, 0vw + .83rem, .82rem);
  --font-size--1: clamp(.91rem, .13vw + .88rem, .99rem);
  --font-size-0: clamp(1rem, .29vw + .93rem, 1.19rem);
  --font-size-1: clamp(1.1rem, .51vw + .98rem, 1.43rem);
  --font-size-2: clamp(1.21rem, .78vw + 1.03rem, 1.71rem);
  --font-size-3: clamp(1.33rem, 1.12vw + 1.07rem, 2.05rem);
  --font-size-4: clamp(1.46rem, 1.56vw + 1.1rem, 2.46rem);
  --font-size-5: clamp(1.61rem, 2.1vw + 1.12rem, 2.95rem);
  --font-size-6: clamp(1.77rem, 2.77vw + 1.12rem, 3.55rem);
  --font-size-7: clamp(1.95rem, 3.6vw + 1.11rem, 4.26rem);
  --font-leading-root: clamp(.75rem, .4vw + .66rem, 1.01rem);
  --font-leading-2: calc(2 * var(--font-leading-root));
  --font-leading-3: calc(3 * var(--font-leading-root));
  --font-leading-4: calc(4 * var(--font-leading-root));
  --font-leading-5: calc(5 * var(--font-leading-root));
  --font-leading-6: calc(6 * var(--font-leading-root));
  --font-leading-7: calc(7 * var(--font-leading-root));
  --font-leading-8: calc(8 * var(--font-leading-root));
  --font-leading-9: calc(9 * var(--font-leading-root));
  --font-leading-10: calc(10 * var(--font-leading-root));
  --size-root: clamp(1rem, .66vw + .84rem, 1.43rem);
  --size-quarter: calc(.25 * var(--size-root));
  --size--quarter: calc(-1 * var(--size-quarter));
  --size-half: calc(.5 * var(--size-root));
  --size--half: calc(-1 * var(--size-half));
  --size-full: calc(1 * var(--size-root));
  --size--full: calc(-1 * var(--size-full));
  --size-double: calc(2 * var(--size-root));
  --size--double: calc(-1 * var(--size-double));
  --size-quad: calc(4 * var(--size-root));
  --size--quad: calc(-1 * var(--size-quad));
  --size-octo: calc(8 * var(--size-root));
  --size--octo: calc(-1 * var(--size-octo));
}

html {
  font-size: 100%;
  line-height: var(--leading-2);
}

body {
  font-size: var(--font-size-0);
}

/**
 * LAYOUT
 */
/**
 * PATTERNS
 */
.sg-container {
  background-color: rgb(180, 180, 180);
}

.sg-container__breakout {
  background-color: rgb(100, 180, 180);
}

.sg-container__page {
  background-color: rgb(180, 100, 180);
}

.sg-compound {
  background-color: rgb(180, 180, 100);
}

.sg-compound__stretch {
  background-color: rgb(100, 180, 100);
}

.sg-block {
  background-color: rgb(180, 100, 100);
}

button {
  border: 1px solid blue;
  background: rebeccapurple;
  color: white;
  font-weight: bold;
}

button {
  font-style: italic;
  zoom: 1;
}

/**
 * SKIP
 *
 */
.skip {
  padding: 7px 16px;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  line-height: 1.2;
  opacity: 0.01;
  -webkit-transition: opacity 0ms linear 0.2s, -webkit-transform 0.2s ease-out;
  transition: opacity 0ms linear 0.2s, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0ms linear 0.2s;
  transition: transform 0.2s ease-out, opacity 0ms linear 0.2s, -webkit-transform 0.2s ease-out;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.skip:focus-visible {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.skip.sg-focus {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/**
 * SHAME
 */
/**
 * UTILITIES
 */
/**
 * WELLNESS
 */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable rule-empty-line-before */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable comment-empty-line-before */
/* stylelint-disable color-no-hex */
/* stylelint-disable selector-pseudo-element-colon-notation */
/* stylelint-disable declaration-block-no-duplicate-properties */
div:empty,
span:empty,
li:empty,
p:empty,
td:empty,
th:empty {
  padding: 0.5em;
  background: yellow;
}

*[style],
font,
center {
  outline: 5px solid red;
}

*[class=""],
*[id=""] {
  outline: 5px dotted red;
}

img:not([alt]) {
  border: 5px solid red;
}

img[title=""] {
  outline: 3px dotted fuchsia;
}

table:not([summary]) {
  outline: 5px solid red;
}

table[summary=""] {
  outline: 3px dotted red;
}

th {
  border: 2px solid red;
}

th[scope=col],
th[scope=row] {
  border: none;
}

a[href]:not([title]) {
  border: 5px solid red;
}

a[title=""] {
  outline: 3px dotted red;
}

a[href="#"] {
  background: lime;
}

a[href=""] {
  background: fuchsia;
}

/**
*	O
*	 \ HOLMES
*
*	------------------------
*
*	Holmes is stand-alone diagnostic CSS stylesheet that will highlight
*	potentially invalid or erroneous HTML(5) markup
*
*	@author 		Luke Williams
*	@contributors	Anthony Mann (hover based debug info)
*	@author_url		http://www.red-root.com
*	@project_url	http://github.com/redroot/holmes/
*	@version		1.0.45 (06/08/2012)
*
*	Copyright (C) 2012 Luke Williams & RedRoot All Rights Reserved.
* 	holmes.css HTML5 CSS Accessibility Validation
* 	Licenced under GPL license
* 	http://www.gnu.org/licenses/gpl.html
*
*	------------------------
*
*	How does it work?
*
*	Adding the class 'holmes-debug' to any element, ideally the body or html tag,
*	will set debug styles for any elements within that element.
*
*	e.g.:
*	<body class="holmes-debug">
*
*	------------------------
*
*	Debug colours and what they mean
*
*	- RED 			denotes an error, invalid markup or a missing attribute
*	- YELLOW 		denotes a warning, so potentionally erroneous markup or bad practice
*	- DARK GREY		denotes a deprecated element or element with deprecated or Non-W3C attributes
*
*	-------------------------
*
*	Notes
*
*	- 	I have chosen to keep all separate types of diagnostis separate, despite sharing
*		common CSS styles, to maintain readability
*
*	- 	Getting pretty long so I've split it into outlines/borders and then Anthony's debug info, first
*		the style, then the content
*
*/
/* ====================================================== */
/* = OUTLINES / BORDERS ================================= */
/* ====================================================== */
/**************
	LINKS
**************/
/* Errors */
.holmes-debug a:not([href]),
.holmes-debug a[href=""] {
  outline: 2px solid red;
}

.holmes-debug a[href="#"],
.holmes-debug a[href^=javascript],
.holmes-debug a[title=""] {
  outline: 2px solid #fd0;
}

/**************
	IMAGES
**************/
.holmes-debug img:not([alt]) {
  outline: 2px solid red;
}

.holmes-debug img[alt=""] {
  outline: 2px solid #fd0;
}

/*************************
	MISC ATTRIBUTES
**************************/
.holmes-debug label:not([for]),
.holmes-debug label[for=""],
.holmes-debug input:not([name]),
.holmes-debug input[name=""],
.holmes-debug select:not([name]),
.holmes-debug select[name=""],
.holmes-debug textarea:not([name]),
.holmes-debug textarea[name=""],
.holmes-debug abbr:not([title]),
.holmes-debug abbr[title=""],
.holmes-debug [class=""],
.holmes-debug [id=""],
.holmes-debug [style] {
  outline: 2px solid #fd0;
}

/*************************************************************************
	DEPRECATED & NON-W3C CONTENT ELEMENTS (#a9a9a9)
	Based largely on http://www.w3.org/TR/html5/obsolete.html#obsolete
*************************************************************************/
.holmes-debug applet,
.holmes-debug acronym,
.holmes-debug center,
.holmes-debug dir,
.holmes-debug font,
.holmes-debug strike,
.holmes-debug big,
.holmes-debug tt,
.holmes-debug marquee,
.holmes-debug hgroup,
.holmes-debug plaintext,
.holmes-debug xmp {
  outline: 2px solid #a9a9a9;
}

body.holmes-debug[background],
body.holmes-debug[bgproperties],
body.holmes-debug[topmargin],
body.holmes-debug[rightmargin],
body.holmes-debug[bottommargin],
body.holmes-debug[leftmargin] {
  outline: 2px solid #a9a9a9;
}

.holmes-debug *[bordercolor],
.holmes-debug *[bordercolordark],
.holmes-debug *[bordercolorlight],
.holmes-debug table[frame],
.holmes-debug table[summary] {
  outline: 2px solid #a9a9a9;
}

.holmes-debug *[align],
.holmes-debug *[valign],
.holmes-debug *[bgcolor],
.holmes-debug *[clear],
.holmes-debug ul[type],
.holmes-debug li[type] {
  outline: 2px solid #a9a9a9;
}

/*********************
	EMPTY ELEMENTS (warning level for now)
**********************/
.holmes-debug div:empty,
.holmes-debug span:empty,
.holmes-debug li:empty,
.holmes-debug p:empty,
.holmes-debug td:empty,
.holmes-debug th:empty {
  outline: 2px solid #fd0;
}

/* ====================================================== */
/* = MESSAGES STYLES ==================================== */
/* ====================================================== */
/* ================== */
/* = Warning Style = */
/* ================== */
/* - LINKS - */
.holmes-debug a[href="#"]:hover::after,
.holmes-debug a[href^=javascript]:hover::after,
.holmes-debug a[title=""]:hover::after,
.holmes-debug img[alt=""]:hover::after,
.holmes-debug div:empty:hover::after,
.holmes-debug span:empty:hover::after,
.holmes-debug li:empty:hover::after,
.holmes-debug p:empty:hover::after,
.holmes-debug td:empty:hover::after,
.holmes-debug th:empty:hover::after,
.holmes-debug [style]:hover::after {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: block;
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
  background: #fd0;
  color: #000;
}

/* =============== */
/* = Error Style = */
/* =============== */
/* - LINKS - */
.holmes-debug a:not([href]):hover::after,
.holmes-debug a[href=""]:hover::after,
.holmes-debug img:not([alt]):hover:after,
.holmes-debug label:not([for]):hover::after,
.holmes-debug label[for=""]:hover::after,
.holmes-debug input:not([name]):hover::after,
.holmes-debug input[name=""]:hover::after,
.holmes-debug select:not([name]):hover::after,
.holmes-debug select[name=""]:hover::after,
.holmes-debug textarea:not([name]):hover::after,
.holmes-debug textarea[name=""]:hover::after,
.holmes-debug abbr:not([title]):hover::after,
.holmes-debug abbr[title=""]:hover::after,
.holmes-debug [class=""]:hover::after,
.holmes-debug [id=""]:hover::after,
.holmes-debug applet:hover::after,
.holmes-debug acronym:hover::after,
.holmes-debug center:hover::after,
.holmes-debug dir:hover::after,
.holmes-debug font:hover::after,
.holmes-debug strike:hover::after,
.holmes-debug big:hover::after,
.holmes-debug tt:hover::after,
.holmes-debug marquee:hover::after,
.holmes-debug hgroup:hover::after,
.holmes-debug plaintext:hover::after,
.holmes-debug xmp:hover::after,
.holmes-debug *[bordercolor]:hover::after,
.holmes-debug *[bordercolordark]:hover::after,
.holmes-debug *[bordercolorlight]:hover::after,
.holmes-debug table[frame]:hover::after,
.holmes-debug table[summary]:hover::after,
.holmes-debug *[align]:hover::after,
.holmes-debug *[valign]:hover::after,
.holmes-debug *[bgcolor]:hover::after,
.holmes-debug *[clear]:hover::after,
.holmes-debug ul[type]:hover::after,
.holmes-debug li[type]:hover::after {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: block;
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
  background: red;
  background: #a9a9a9;
  color: #000;
}

/* ================================ */
/* = Deprecated body style Styles = */
/* ================================ */
body.holmes-debug[background]:hover::after,
body.holmes-debug[bgproperties]:hover::after,
body.holmes-debug[topmargin]:hover::after,
body.holmes-debug[rightmargin]:hover::after,
body.holmes-debug[bottommargin]:hover::after,
body.holmes-debug[leftmargin]:hover::after {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;
  display: block;
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
  background: red;
  background: #a9a9a9;
  color: #000;
  /* Bottom right due to whole body coverage */
}

/* Fixes the case where a table may contain both errors and warnings - potentially other cases of this elsewhere */
.holmes-debug td:empty:hover::after,
.holmes-debug th:empty:hover::after {
  top: 4em;
}

/* ====================================================== */
/* = MESSAGES CONTENT =================================== */
/* ====================================================== */
/**************
	LINKS
**************/
.holmes-debug a:not([href]):hover::after,
.holmes-debug a[href=""]:hover::after {
  content: "Missing href attribute";
}

.holmes-debug a[href="#"]:hover:after {
  content: "href='#'";
}

.holmes-debug a[href^=javascript]:hover:after {
  content: "Href has javascript";
}

.holmes-debug a[title=""]:hover::after {
  content: "Empty title attribute";
}

/**************
	IMAGES
**************/
.holmes-debug img:not([alt]):hover::after {
  content: "Missing alt attribute";
}

.holmes-debug img[alt=""]:hover::after {
  content: "No text in alt attribute";
}

/*************************
	MISC ATTRIBUTES
**************************/
.holmes-debug label:not([for]):hover::after,
.holmes-debug label[for=""]:hover::after {
  content: "Missing for attribute";
}

.holmes-debug input:not([name]):hover::after,
.holmes-debug input[name=""]:hover::after,
.holmes-debug select:not([name]):hover::after,
.holmes-debug select[name=""]:hover::after,
.holmes-debug textarea:not([name]):hover::after,
.holmes-debug textarea[name=""]:hover::after {
  content: "Missing name attribute";
}

.holmes-debug abbr:not([title]):hover::after,
.holmes-debug abbr[title=""]:hover::after {
  content: "Missing title attribute";
}

.holmes-debug [class=""]:hover::after {
  content: "Blank class attribute";
}

.holmes-debug [id=""]:hover::after {
  content: "Blank id attribute";
}

.holmes-debug [style]:hover::after {
  content: "Element has inline styles";
}

/*************************************************************************
	DEPRECATED & NON-W3C CONTENT ELEMENTS (#a9a9a9)
	Based largely on http://www.w3.org/TR/html5/obsolete.html#obsolete
*************************************************************************/
.holmes-debug applet:hover::after,
.holmes-debug acronym:hover::after,
.holmes-debug center:hover::after,
.holmes-debug dir:hover::after,
.holmes-debug font:hover::after,
.holmes-debug strike:hover::after,
.holmes-debug big:hover::after,
.holmes-debug tt:hover::after,
.holmes-debug marquee:hover::after,
.holmes-debug hgroup:hover::after,
.holmes-debug plaintext:hover::after,
.holmes-debug xmp:hover::after {
  content: "Deprecated or Non-W3C element";
}

/************************************************************************
	DEPRECATED NON-W3C ATTRIBUTES (#a9a9a9)
	Based largely on http://www.w3.org/TR/html5/obsolete.html#obsolete
************************************************************************/
body.holmes-debug[background]:hover::after {
  content: "Deprecated or Non-W3C body attribute background";
}

body.holmes-debug[bgproperties]:hover::after {
  content: "Deprecated or Non-W3C body attribute bgproperties";
}

body.holmes-debug[topmargin]:hover::after,
body.holmes-debug[rightmargin]:hover::after,
body.holmes-debug[bottommargin]:hover::after,
body.holmes-debug[leftmargin]:hover::after {
  content: "Deprecated or Non-W3C body attribute *margin";
}

.holmes-debug *[bordercolor]:hover::after,
.holmes-debug *[bordercolordark]:hover::after,
.holmes-debug *[bordercolorlight]:hover::after {
  content: "Deprecated or Non-W3C attribute bordercolor";
}

.holmes-debug table[frame]:hover::after {
  content: "Deprecated or Non-W3C table attribute frame";
}

.holmes-debug table[summary]:hover::after {
  content: "Deprecated or Non-W3C table attribute summary";
}

.holmes-debug *[align]:hover::after,
.holmes-debug *[valign]:hover::after {
  content: "Deprecated or Non-W3C attribute *align";
}

.holmes-debug *[bgcolor]:hover::after {
  content: "Deprecated or Non-W3C attribute bgcolor";
}

.holmes-debug *[clear]:hover::after {
  content: "Deprecated or Non-W3C attribute clear";
}

.holmes-debug ul[type]:hover::after,
.holmes-debug li[type]:hover::after {
  content: "Deprecated or Non-W3C list attribute type";
}

/*********************
	EMPTY ELEMENTS (warning level for now)
**********************/
.holmes-debug div:empty:hover::after,
.holmes-debug span:empty:hover::after,
.holmes-debug li:empty:hover::after,
.holmes-debug p:empty:hover::after,
.holmes-debug td:empty:hover::after,
.holmes-debug th:empty:hover::after {
  content: "Empty element!";
}