---
layout: layouts/base
description: "Allspelslåtar for Bingsjöstämman {{ year }}."
eleventyComputed:
  title: "Allspel {{ year }}"
  permalink: "{% if year == editions.current %}/allspel/index.html{% else %}/{{ year }}/allspel/index.html{% endif %}"
---
{% from "components/allspel-tunes/allspel-tunes.njk" import allspelTunes %}
{% from "components/schedule-item/schedule-item.njk" import scheduleItem %}
{% from "components/image/image.njk" import cloudinaryPicture %}
{% set regularTunes = tunes | rejectattr("barnens") | rejectattr("singing")| list %}
{% set barnensTunes = tunes | selectattr("barnens") | list %}
{% set singingTunes = tunes | selectattr("singing") | list %}

<div class="o-split">
  <div class="o-split__content prose">
    <h1>Allspelslåtar {{ year }}</h1>

    <div class="page-intro prose">
      {{ copy.intro | markdown | safe }}
    </div>
    <div class="o-tile t-intent-highlight prose o-block o-block--margin-medium">
      <h3>{{ copy.shoutoutHeadline | markdown | safe }}</h3>
      {{ copy.shoutoutText | markdown | safe }}

      {{ scheduleItem("Logen", "15:30", "16:30", {
        rootClass: "",
        infoClass: ""
      }) }}
    </div>

  </div>
  <div class="o-split__image o-split__content">
    {{ cloudinaryPicture("v1748295028/allspel_2024_zchx2s", "Allspel på stora scenen") }}
  </div>
</div>


{{ allspelTunes(regularTunes) }}

<div class="o-block o-block--margin-large prose">
<h2>Allsångslåt</h2>

  {% if copy.singingAllspel %}
  <div class="page-intro">
    {{ copy.singingAllspel | markdown | safe }}
  </div>
  {% endif %}
</div>

{{ allspelTunes(singingTunes) }}

