---
layout: layouts/base
title: "Bingsjöstämmans {{ year }}"
year: 2026
eleventyComputed:
  permalink: "{% if year == editions.current %}/index.html{% else %}/{{ year }}/index.html{% endif %}"
  isArchive: "{{ year != editions.current }}"
---

{% from "components/hero/hero.njk" import hero %}



{{ hero({
  imageId: "2026/Bingsjo_2025-38_xvzbt6",
  imageAlt: "",
  title: "Bingsjöstämman",
  text: "1 juli 2026"
}) }}


<h2>Välkommen till Bingsjöstämman {{ year }}</h2>
<p>Onsdagen den 1 juli samlas vi åter i Bingsjö för årets Bingsjöstämma. Men som vanligt tjuvstartar vi redan på tisdagkvällen. Programmet är klart och kommer att presentera här inom kort.</p>
<p>Passa på att träna in <a href="{% if year == editions.current %}/allspel/{% else %}/{{ year }}/allspel/{% endif %}">årets allspelslåtar</a> så länge!</p>


{% if isArchive == "true" %}
<div class="archive-banner">
  This is an archive from {{ year }}.
  <a href="/">View current festival →</a>
</div>
<meta name="robots" content="noindex">
{% endif %}
