---
layout: layouts/base
year: 2026
description: "Bingsjostamman 2026 i Bingsjo med spel, dans och allspel."
socialImage: "https://res.cloudinary.com/dbblxggj5/image/upload/v1748295028/allspel_2024_zchx2s"
eleventyComputed:
  title: "{{ year }}"
  permalink: "{% if year == editions.current %}/index.html{% else %}/{{ year }}/index.html{% endif %}"
  isArchive: "{{ year != editions.current }}"
---

{% from "components/hero/hero.njk" import hero %}



{{ hero({
  imageId: "2026/Bingsjo_2025-38_xvzbt6",
  imageAlt: "",
  title: "Bingsjöstämman",
  text: "1 juli 2026"
}) }}


<div class="o-compound" style="margin-block: var(--size-double) var(--size-quad); font-size: var(--font-size-1);">
  <h2>Välkommen till Bingsjöstämman</h2>
  <p>Onsdagen den 1 juli samlas vi åter i Bingsjö för årets Bingsjöstämma. Men som vanligt tjuvstartar vi redan på tisdagkvällen.</p>
  <p>&nbsp;</p>
  <p>Programmet är klart och kommer att presenteras här inom kort. Först ut är <a href="{% if year == editions.current %}/allspel/{% else %}/{{ year }}/allspel/{% endif %}" style="text-decoration: underline;">årets allspelslåtar</a>!</p>
</div>

{% if isArchive == "true" %}
<div class="archive-banner">
  This is an archive from {{ year }}.
  <a href="/">View current festival →</a>
</div>
<meta name="robots" content="noindex">
{% endif %}
