---
layout: layouts/base
eleventyComputed:
  title: "På scen {{ year }}"
---

<h1>På våra scener {{ year }}</h1>
{% include "components/headline-acts/headline-acts.njk" %}

{% include "components/artist-list/artist-list.njk" %}
