---
layout: layouts/base
year: 2026
eleventyComputed:
  title: "Artister {{ year }}"
  permalink: "{% if year == editions.current %}/scen/index.html{% else %}/{{ year }}/scen/index.html{% endif %}"
eleventyExcludeFromCollections: true
---

<h1>Artister {{ year }}</h1>

