---
layout: layouts/base
year: 2026
eleventyComputed:
  title: "Tisdag {{ dates.tisdag | swedishDate }} {{ year }}"
  permalink: "{% if year == editions.current %}/tisdag/index.html{% else %}/{{ year }}/tisdag/index.html{% endif %}"
eleventyExcludeFromCollections: true
---
{% from "components/stage-list/stage-list.njk" import stageList %}

<h1>Tisdag {{ dates.tisdag | swedishDate }}</h1>
<p>Bingsjöstämman tjuvstartar med förstämma på tisdagkvällen.</p>
<p>Pub och servering öppet kl. 16:00–22:00</p>
<p>Folkmusikens hus tält är öppet kl 17:00-22:00, där du finner bland annat entrébiljetter, skivor och information</p>

<h2>Nygårdsgården</h2>
{{ stageList("Nygårdsgården", lineup, "tisdag") }}
<p>Biljetter till konserten säljs via <a href="https://www.nygardsgarden.com/" rel="external">Nygårdsgårdens webbplats</a>.</p>

<h2>Bystuguscenen</h2>
<p>På bystugeområdet är det premiär för nya Bystuguscenen, där det på tisdagkvällen blir flera spelmän och band att lyssna på.</p>
{{ stageList("Bystuguscenen", lineup, "tisdag") }}

<h2>Dansladu</h2>
<p>Polskestugan i Dansladu är två timmar med Isa Holmgren, Fredrik Lundberg, Jenny Bergman
Högberg, John Goodacre och fler. Inga applåder
eller småprat i stugan. Bara oavbruten,
magisk dansmusik.</p>

{{ stageList("Dansladu", lineup, "tisdag") }}
