---
layout: layouts/base
year: 2026
eleventyComputed:
  title: "Onsdag {{ dates.onsdag | swedishDate }} {{ year }}"
  permalink: "{% if year == editions.current %}/onsdag/index.html{% else %}/{{ year }}/onsdag/index.html{% endif %}"
eleventyExcludeFromCollections: true
---
{% from "components/stage-list/stage-list.njk" import stageList %}

<h1>Onsdag {{ dates.onsdag | swedishDate }}</h1>

<h2>Nygårdsgården</h2>
{{ stageList("Nygårdsgården", lineup, "onsdag") }}

<h2>Dansbanan</h2>
{{ stageList("Dansbanan", lineup, "onsdag") }}

<h2>Bagarstugan</h2>
{{ stageList("Bagarstugan", lineup, "onsdag") }}

<h2>Danielsgården</h2>
{{ stageList("Danielsgården", lineup, "onsdag") }}

<h2>Bystuguscenen</h2>
{{ stageList("Bystuguscenen", lineup, "onsdag") }}

<h2>Kapellet</h2>
{{ stageList("Kapellet", lineup, "onsdag") }}

<h2>Levande Ladan</h2>
{{ stageList("Levande Ladan", lineup, "onsdag") }}

<h2>Låttältet</h2>
{{ stageList("Låttältet", lineup, "onsdag") }}

<h2>Tunet</h2>
{{ stageList("Tunet", lineup, "onsdag") }}

<h2>Logen</h2>
{{ stageList("Logen", lineup, "onsdag") }}
