---
layout: layouts/base
year: 2026
eleventyComputed:
  title: "Onsdag {{ dates.onsdag | swedishDate }} {{ year }}"
  permalink: "{% if year == editions.current %}/onsdag/index.html{% else %}/{{ year }}/onsdag/index.html{% endif %}"
eleventyExcludeFromCollections: true
---
{% from "components/stage-list/stage-list.njk" import stageList %}

<h1>Onsdag {{ dates.onsdag | swedishDate }}</h1>

{{ stageList("Nygårdsgården", lineup, "onsdag") }}

{{ stageList("Dansbanan", lineup, "onsdag") }}

{{ stageList("Bagarstugan", lineup, "onsdag") }}

{{ stageList("Danislegården", lineup, "onsdag") }}

{{ stageList("Bystugubanan", lineup, "onsdag") }}

{{ stageList("Kapellet", lineup, "onsdag") }}

{{ stageList("Levande ladan", lineup, "onsdag") }}

{{ stageList("Låttältet", lineup, "onsdag") }}

{{ stageList("Tunet", lineup, "onsdag") }}

{{ stageList("Logen", lineup, "onsdag") }}
