---
layout: layouts/base
year: 2026
description: "Kurser under Bingsjöstämman 2026."
eleventyComputed:
  title: "Kurser {{ year }}"
  permalink: "{% if year == editions.current %}/kurser/index.html{% else %}/{{ year }}/kurser/index.html{% endif %}"
---
{% from "components/image/image.njk" import cloudinaryPicture %}
{% from "components/workshops-list/workshops-list.njk" import workshopsList %}

    <h1>Kurser</h1>

    <div class="page-intro">
      {{ copy.intro | markdown | safe }}
    </div>



{{ workshopsList(workshops) }}

