---
pagination:
  data: lineup
  size: 1
  alias: artist
  addAllPagesToCollections: true

layout: "layouts/artist"

eleventyComputed:
  permalink: "/{{ edition }}/scen/{{ artist.name | slugify }}/"
  date: "{{ dates[artist.day] }}"
---