<!DOCTYPE html>
<html class="no-js" lang="sv">
<!-- no-js? -->

<head>
	<!-- meta charset -->
	<!-- meta viewport -->
	<!-- og meta for social media -->
	<!-- favicon -->
	<title>{{ site.name }}</title>
	<link rel="stylesheet" href="/assets/styles.css">

	<!-- https://htmlhead.dev -->
</head>

<body>
