<!DOCTYPE html>
<html class="no-js" lang="sv">
<!-- no-js? -->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.name }}</title> <!-- page + site? -->

	<!-- favicon -->

	<link rel="stylesheet" href="/assets/css/styles.min.css">

	<!-- META: https://htmlhead.dev/#meta -->
	<meta name="theme-color" content="#9a1a1a">
	<!-- og meta for social media -->

	{{> globals/scripts-top }}

</head>

<body>
