
.artist-intro {
    display: flex;
    flex-direction: column-reverse;    
}

.artist-split {
    align-items: flex-start;
}

.artist-headline {
  font-size: var(--font-size-7);
  font-weight: 500;
  line-height: 1.1;
  margin-block-start: var(--size-quad);
}

.artist__eyebrow {
color: var(--color-font--primary);
  background-color: var(--color-primary);
  font-size: var(--font-size--2);
  font-family: 'Alegreya Sans';
  text-transform: uppercase;
  font-weight: 400;
  line-height: var(--font-leading-root);
  letter-spacing: 0.08em;
  display: flex;
  width: max-content;
  padding-block: var(--size-quarter);
  padding-inline: var(--size-full);
  border-radius: 2em;
  align-items: center;
  gap: var(--size-quarter);
}

.artist-intro + * {
  margin-block-start: var(--size-double);
}

.artist-longdescription {
    font-size: var(--font-size-1);
}

.artist-longdescription::first-letter {
  font-family: 'Alegreya';
  font-weight: 500;
  color: var(--color-font--link);
  margin-inline-end: 0.1em;
  font-size: 6em;
  line-height: 1;
  background: none;
  float: left;
}

.artist-image {
  position: relative;
  aspect-ratio: 16 / 9;
}

.artist-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artist-meta {

}

.artist-meta-info {
    display: flex;
  align-items: center;
  gap: var(--size-quarter);  
  font-size: var(--font-size--1);  
}

.artist-meta-location {
font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;    
}

.artist-meta-item {

}

.artist-meta-item + .artist-meta-item {
  margin-block-start: var(--size-full);
}

.artist-meta-icon {
color: var(--color-primary);
  position: relative;
  margin-block-start: 0.1em;
}

.artist-link {
  display: flex;
  width: max-content;
  background: var(--token-color-teal-800);
  color: var(--color-font--primary);
  padding-block: var(--size-full);
  padding-inline: var(--size-double);
  font-size: var(--font-size-0);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  border-radius: 6px;
  align-items: center;
  gap: var(--size-half);
}