<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.name }}</title>
    <meta name="description" content="{{ description or '' }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% if not env.isProd %}
        <link rel="stylesheet" href="/debug.css">
    {% endif %}

    {% include "components/head-meta/head-meta.njk" %}
</head>
<body>
    {% include "components/nav/nav.njk" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "components/footer/footer.njk" %}
<script>
  console.log("Environment:", "{{ env.name }}");
</script>
</body>
</html>