.skip {
    /* Styles for skip link */
}

.skip:not(:focus) {
    background: pink;
}


.skop {
    background: black;
}

@include sg {
    .skip.sg-focus {
        font-style: italic;
    }

    .skop.sg-focus {
        background: red;

        @extend .skop;
    }
}
