---
layout: layouts/legacy
permalink: /404.html
eleventyExcludeFromCollections: true
title: Sidan hittades inte
---

<div class="glacier">
				<h1 class="home-heading">404 – Sidan finns inte</h1>

				<p>
					Vi hittar tyvärr inte sidan du söker. Kanske har den
					flyttats eller tagits bort.
				</p>
			</div>