---
title: Javascript Components
layout: layouts/base
permalink: /components/
---


<h1>Javascript components.</h1>

<p>Here are some components</p>

<h2>Modal</h2>

<div data-modal>
  <button data-modal-open>Open modal</button>

  <dialog>
    <button data-modal-close>×</button>
    <p>Hello from the modal!</p>
  </dialog>
</div>

<hr>

<h2>Accordion</h2>

<div data-accordion>
  <div data-accordion-item>
    <button data-accordion-header>What is Bingsjöstämman?</button>
    <div data-accordion-panel>
      It’s a traditional folk music gathering…
    </div>
  </div>

  <div data-accordion-item>
    <button data-accordion-header>Where is it held?</button>
    <div data-accordion-panel>
      In Bingsjö, Dalarna.
    </div>
  </div>
</div>

<hr>

<h2>Menu</h2>
