---
layout: layouts/base
permalink: /kontakt.html
eleventyExcludeFromCollections: true
title: Kontakt
---

<div class="glacier">
				<h1 id="kontakt">Kontakt</h1>
				<p>
					Bingsjöstämman är ett samarbete mellan Bingsjö
					bystugeförening,
					<a href="https://www.dalarnasspelmansforbund.se/">Dalarnas Spelmansförbund</a>
					och
					<a href="https://www.folkmusikenshus.se/">Folkmusikens Hus</a>.
				</p>
				<p>
					Våra kurser arrangeras ihop med Studieförbundet Bilda Gävle
					Dala.
				</p>
				<h2 id="kontaktuppgifter">Kontaktuppgifter</h2>
				<p>Bingsjöstämman - Folkmusikens hus i Rättvik</p>
				<p>Dalagatan 7, 791 31 RÄTTVIK</p>
				<p>Tel: 0248-797050</p>
				<p>E-post: bingsjo@folkmusikenshus.se</p>
				<p class="logos">
					<img src="https://res.cloudinary.com/bingsjostamman/image/upload/v1637226634/legacy/dsf_zihftm.png" alt="">
					<img src="https://res.cloudinary.com/bingsjostamman/image/upload/v1637226633/legacy/fmh_mpf3kw.png" alt="">
					<img src="https://res.cloudinary.com/bingsjostamman/image/upload/v1637226596/legacy/bingsjo_joi90d.png" alt="">
					<img src="https://res.cloudinary.com/bingsjostamman/image/upload/v1637226596/legacy/bilda_g9t6qj.png" alt="">
				</p>
			</div>