---
layout: layouts/base
permalink: /kontakt/
title: Kontakt
---

{% from "components/icon/icon.njk" import icon %}
{% from "components/logo/logo.njk" import logo %}

<div class="o-compound">
	<h1 id="kontakt">Kontakta oss</h1>
	<p>&nbsp;</p>
	<p>
		Bingsjöstämman är ett samarbete mellan Bingsjö
		bystugeförening, <a href="https://www.dalarnasspelmansforbund.se/">Dalarnas Spelmansförbund</a>
		och <a href="https://www.folkmusikenshus.se/">Folkmusikens Hus</a>.
	</p>
	<p>&nbsp;</p>
	<p>
		Våra kurser arrangeras ihop med Studieförbundet Bilda Mitt.
	</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<h2>Sociala medier</h2>
	<p>&nbsp;</p>
	<p>
		Följ oss i sociala medier för löpande information om Bingsjöstämman och uppdateringar om programmet.
		Du kan också nå oss via meddelandefunktionerna.
	</p>
	<p>&nbsp;</p>

	<p>
		<a class="artist-link contact-some" href="https://www.facebook.com/bingsjostamman" rel="external noopener noreferrer" data-track-event="socialmedia_click" data-track-label="facebook" data-track-context="contact-social">
			{{ icon("facebook") }}
			<span>Facebook</span>
		</a>
	</p>
	<p>&nbsp;</p>
	<p>
		<a class="artist-link contact-some" href="https://www.instagram.com/bingsjostamman" rel="external noopener noreferrer" data-track-event="socialmedia_click" data-track-label="instagram" data-track-context="contact-social">
			{{ icon("instagram") }}
			<span>Instagram</span>
		</a>
	</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<h2>Adressuppgifter</h2>
	<p>Bingsjöstämman - Folkmusikens hus i Rättvik</p>
	<p>Dalagatan 7</p>
	<p>791 31 RÄTTVIK</p>
	<p>&nbsp;</p>
	<p>Tel: 0248-797050</p>
	<p>E-post: bingsjo@folkmusikenshus.se</p>
</div>


