---
layout: layouts/base
permalink: /kontakt/
title: Kontakt
eleventyExcludeFromCollections: true
---

{% from "components/icon/icon.njk" import icon %}
{% from "components/logo/logo.njk" import logo %}

<div class="glacier">
				<h1 id="kontakt">Kontakt</h1>
				<p>
					Bingsjöstämman är ett samarbete mellan Bingsjö
					bystugeförening,
					<a href="https://www.dalarnasspelmansforbund.se/">Dalarnas Spelmansförbund</a>
					och
					<a href="https://www.folkmusikenshus.se/">Folkmusikens Hus</a>.
				</p>
				<p>
					Våra kurser arrangeras ihop med Studieförbundet Bilda Gävle
					Dala. {{ icon("parking") }} {{ icon("store") }}
				</p>
				<h2 id="kontaktuppgifter">Kontaktuppgifter</h2>
				<p>Bingsjöstämman - Folkmusikens hus i Rättvik</p>
				<p>Dalagatan 7, 791 31 RÄTTVIK</p>
				<p>Tel: 0248-797050</p>
				<p>E-post: bingsjo@folkmusikenshus.se</p>
				<p class="logos" style="background-color: white; color: black; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 1rem; padding: 1rem;">
    {{ logo("dsf") }}
{{ logo("fmh") }}
{{ logo("bingsjo") }}
{{ logo("bilda") }}
{{ logo("bingsjostamman") }}
{{ logo("leksands-sparbank") }}
				</p>
				<p class="logos" style="background-color: #111D1D; color: white; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 1rem; padding: 1rem;">
    {{ logo("dsf") }}
{{ logo("fmh") }}
{{ logo("bingsjo") }}
{{ logo("bilda") }}
{{ logo("bingsjostamman") }}
{{ logo("leksands-sparbank") }}
				</p>
			</div>
			

