---
layout: layouts/base
permalink: /test/
title: Tekniska tester av webbplatsen
eleventyExcludeFromCollections: true
---

{% from "components/icon/icon.njk" import icon %}

<div class="o-compound prose" lang="en">
    <h1>Technical tests</h1>

    <h2>Security headers</h2>
    <p><a href="https://securityheaders.com/?q=https%3A%2F%2Fwww.bingsjostamman.se%2F">securityheaders.com</a>


</div>




