---
layout: layouts/base
title: Entré & biljetter
permalink: /biljetter/
eleventyExcludeFromCollections: true
---

<p>Entré och biljetter</p>

<p>Vuxen: {{ prices.adult }}</p>
<p>Ungdom: {{ prices.youth }}</p>