.c-allspel-tunes-wrap {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}


.c-allspel-tunes-tunes {
  display: flex;
  flex-direction: column;
}

.c-allspel-tunes-tune {
  display: flex;
  border: 1px solid hotpink;
  justify-content: space-between;
  flex-wrap: wrap;
}

.c-allspel-tunes-info {
  flex-grow: 1;
  flex-basis: 26em;
}

.c-allspel-tunes-media {
    flex-basis: 20em;
    flex-grow: 1;
}

