<meta name="description" content="{{ description or site.description }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ image or site.defaultImage }}">
<meta property="og:url" content="{{ page.url | url }}">
<meta property="og:type" content="website">