:root {
    --font-size--2: clamp(.83rem, 0vw + .83rem, .82rem);
    --font-size--1: clamp(.91rem, .13vw + .88rem, .99rem);
    --font-size-0: clamp(1rem, .29vw + .93rem, 1.19rem);
    --font-size-1: clamp(1.1rem, .51vw + .98rem, 1.43rem);
    --font-size-2: clamp(1.21rem, .78vw + 1.03rem, 1.71rem);
    --font-size-3: clamp(1.33rem, 1.12vw + 1.07rem, 2.05rem);
    --font-size-4: clamp(1.46rem, 1.56vw + 1.1rem, 2.46rem);
    --font-size-5: clamp(1.61rem, 2.1vw + 1.12rem, 2.95rem);
    --font-size-6: clamp(1.77rem, 2.77vw + 1.12rem, 3.55rem);
    --font-size-7: clamp(1.95rem, 3.6vw + 1.11rem, 4.26rem);
    --font-leading-root: clamp(.75rem, .4vw + .66rem, 1.01rem);
    --font-leading-2: calc(2 * var(--font-leading-root));
    --font-leading-3: calc(3 * var(--font-leading-root));
    --font-leading-4: calc(4 * var(--font-leading-root));
    --font-leading-5: calc(5 * var(--font-leading-root));
    --font-leading-6: calc(6 * var(--font-leading-root));
    --font-leading-7: calc(7 * var(--font-leading-root));
    --font-leading-8: calc(8 * var(--font-leading-root));
    --font-leading-9: calc(9 * var(--font-leading-root));
    --font-leading-10: calc(10 * var(--font-leading-root));
    --size-root: clamp(1rem, .66vw + .84rem, 1.43rem);
    --size-quarter: calc(.25 * var(--size-root));
    --size--quarter: calc(-1 * var(--size-quarter));
    --size-half: calc(.5 * var(--size-root));
    --size--half: calc(-1 * var(--size-half));
    --size-full: calc(1 * var(--size-root));
    --size--full: calc(-1 * var(--size-full));
    --size-double: calc(2 * var(--size-root));
    --size--double: calc(-1 * var(--size-double));
    --size-quad: calc(4 * var(--size-root));
    --size--quad: calc(-1 * var(--size-quad));
    --size-octo: calc(8 * var(--size-root));
    --size--octo: calc(-1 * var(--size-octo));
}

html {
    font-size: 100%;
    line-height: var(--leading-2);
}

body {
    font-size: var(--font-size-0);
}
