{% from "components/image/image.njk" import cloudinaryPicture %}

{% macro thumbnailImage(id, alt=null, options={}) %}
  {{ cloudinaryPicture(id, alt, {
    widths: options.widths or [150, 300, 450],
    sizes: options.sizes or "100px",
    aspect: options.aspect or "1:1",
    lqipId: options.lqipId or null,
    loading: options.loading or "lazy",
    decoding: options.decoding or "async"
  }) }}
{% endmacro %}