<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<title>test layout</title>
	<link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body>

	{{> globals/header }}

	<main role="main">
		{{{ content }}}
	</main>

	{{> globals/footer }}
</body>

</html>
