{{> globals/html-top }}

	<a class="skip" href="#main">{{ system.text.skip }}</a>

	{{> globals/header }}

	<hr>

	<main id="main" role="main">
		{{{ content }}}
	</main>

	<hr>

	{{> globals/footer }}

{{> globals/html-bottom }}
