/**
 * STYLES
 *
 * This file @imports bits and pieces. The css are written to SCSS files,
 * but in reality very little is actually Sass code. Most of the styling
 * is written in pure CSS. Some foundation stuff needs advanced calculations,
 * and is this written as Sass functions and mixins.
 *
 *
 * BASE
 * All ..................... The Base layer consists of tools and helpers and
 *                           since they don't produce any CSS they can be glob
 *                           imported.
 */
/* Styleguide styles */
/*! No CSS before this comment! */
/* CONFIG
 * All ..................... The Config layer consists of design tokens and
 *                           properties.
 */
/* @font-face */
/* Alegreya */
@font-face {
  font-family: "Alegreya";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-BlackItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/Alegreya-Italic.woff2") format("woff2");
}
/* Alegreya Sans */
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-BlackItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/AlegreyaSans-ThinItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplayMediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/subset-PlayfairDisplay-Italic.woff2") format("woff2");
}
body {
  font-family: Playfair, "Alegreya Sans";
}

h1,
h2,
h3 {
  font-family: Playfair, Alegreya;
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-3);
}

.fineprint {
  font-size: var(--font-size--1);
}

/*
 * ELEMENTS
 * Normalize ............... Levels out browser differences based on a
 *                           browserslist config file
 * Box-sizing .............. Default 'box-sizing'
 * Root .................... Root elements
 */
/**
 * NORMALIZE
 *
 * https://github.com/csstools/postcss-normalize
 * https://github.com/browserslist/browserslist
 */
/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 */
:where(html) {
  line-height: 1.15; /* 1 */
}
/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
:where(h1) {
  font-size: 2em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
}
/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */
:where(dl, ol, ul) :where(dl, ol, ul) {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 */
:where(hr) {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  color: inherit; /* 2 */
  height: 0; /* 1 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct text decoration in Safari.
 */
:where(abbr[title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
:where(b, strong) {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
:where(small) {
  font-size: 80%;
}
/* Tabular data
 * ========================================================================== */
/**
 * 1. Correct table border color in Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
:where(table) {
  border-color: currentColor; /* 1 */
  text-indent: 0; /* 2 */
}
/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
:where(button, input, select) {
  margin: 0;
}
/**
 * Remove the inheritance of text transform in Firefox.
 */
:where(button) {
  text-transform: none;
}
/**
 * Correct the inability to style buttons in iOS and Safari.
 */
:where(button, input:is([type="button" i], [type="reset" i], [type="submit" i])) {
  -webkit-appearance: button;
}
/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
:where(progress) {
  vertical-align: baseline;
}
/**
 * Remove the inheritance of text transform in Firefox.
 */
:where(select) {
  text-transform: none;
}
/**
 * Remove the margin in Firefox and Safari.
 */
:where(textarea) {
  margin: 0;
}
/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
:where(input[type="search" i]) {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
:where(button, input:is([type="button" i], [type="color" i], [type="reset" i], [type="submit" i]))::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:where(button, input:is([type="button" i], [type="color" i], [type="reset" i], [type="submit" i]))::-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Remove the additional :invalid styles in Firefox.
 */
:where(:-moz-ui-invalid) {
  box-shadow: none;
}
/* Interactive
 * ========================================================================== */
/*
 * Add the correct styles in Safari.
 */
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
:where(dialog:not([open])) {
  display: none;
}
/*
 * Add the correct display in all browsers.
 */
:where(summary) {
  display: list-item;
}
:root {
  --font-size--2: clamp(.83rem, 0vw + .83rem, .82rem);
  --font-size--1: clamp(.91rem, .13vw + .88rem, .99rem);
  --font-size-0: clamp(1rem, .29vw + .93rem, 1.19rem);
  --font-size-1: clamp(1.1rem, .51vw + .98rem, 1.43rem);
  --font-size-2: clamp(1.21rem, .78vw + 1.03rem, 1.71rem);
  --font-size-3: clamp(1.33rem, 1.12vw + 1.07rem, 2.05rem);
  --font-size-4: clamp(1.46rem, 1.56vw + 1.1rem, 2.46rem);
  --font-size-5: clamp(1.61rem, 2.1vw + 1.12rem, 2.95rem);
  --font-size-6: clamp(1.77rem, 2.77vw + 1.12rem, 3.55rem);
  --font-size-7: clamp(1.95rem, 3.6vw + 1.11rem, 4.26rem);
  --font-leading-root: clamp(.75rem, .4vw + .66rem, 1.01rem);
  --font-leading-2: calc(2 * var(--font-leading-root));
  --font-leading-3: calc(3 * var(--font-leading-root));
  --font-leading-4: calc(4 * var(--font-leading-root));
  --font-leading-5: calc(5 * var(--font-leading-root));
  --font-leading-6: calc(6 * var(--font-leading-root));
  --font-leading-7: calc(7 * var(--font-leading-root));
  --font-leading-8: calc(8 * var(--font-leading-root));
  --font-leading-9: calc(9 * var(--font-leading-root));
  --font-leading-10: calc(10 * var(--font-leading-root));
  --size-root: clamp(1rem, .66vw + .84rem, 1.43rem);
  --size-quarter: calc(.25 * var(--size-root));
  --size--quarter: calc(-1 * var(--size-quarter));
  --size-half: calc(.5 * var(--size-root));
  --size--half: calc(-1 * var(--size-half));
  --size-full: calc(1 * var(--size-root));
  --size--full: calc(-1 * var(--size-full));
  --size-double: calc(2 * var(--size-root));
  --size--double: calc(-1 * var(--size-double));
  --size-quad: calc(4 * var(--size-root));
  --size--quad: calc(-1 * var(--size-quad));
  --size-octo: calc(8 * var(--size-root));
  --size--octo: calc(-1 * var(--size-octo));
}

html {
  font-size: 100%;
  line-height: var(--leading-2);
}

body {
  font-size: var(--font-size-0);
}

/*
 * GLOBAL
 * Container Layout ........ The main page container
 * Compound Layout ......... Text container with limited line length
 */
:root {
  --layout-container-gap: 30px;
  --layout-container-maxwidth: 1000px;
}

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [page-start] var(--layout-container-gap) [main-start] minmax(0, var(--layout-container-maxwidth)) [main-end] var(--layout-container-gap) [page-end] 1fr auto [full-end];
}

.container > * {
  grid-column: main;
}

.container__page {
  grid-column: page;
}

.container__breakout {
  grid-column: full;
}

.compound {
  max-width: 65ch;
  width: 100%;
  margin-inline: auto;
}

.compound {
  display: grid;
  grid-template-columns: [stretch-start] 1fr [compound-start] minmax(0, var(--layout-compound-maxwidth)) [compound-end] 1fr [stretch-end];
  max-width: calc(65ch + var(--layout-container-gap) * 4);
  width: 100%;
  --layout-compound-maxwidth: 65ch;
  margin-inline: auto;
}

.compound > * {
  grid-column: compound;
}

.compound__stretch {
  grid-column: stretch;
}

/*
 * PATTERNS
 * All ..................... Patterns should be componentized and un-independent
 *                           from each other. Thus, it should be safe to glob
 *                           import all patterns.
 */
button {
  border: 1px solid blue;
  background: rebeccapurple;
  color: white;
  font-weight: bold;
}

/**
 * SKIP
 *
 */
.skip {
  padding: 7px 16px;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  line-height: 1.2;
  opacity: 0.01;
  -webkit-transition: opacity 0ms linear 0.2s, -webkit-transform 0.2s ease-out;
  transition: opacity 0ms linear 0.2s, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0ms linear 0.2s;
  transition: transform 0.2s ease-out, opacity 0ms linear 0.2s, -webkit-transform 0.2s ease-out;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.skip:focus-visible {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* SHAME
 * Shame ................... The place to put hacks and quick fixes. Just make
 *                           sure to refactor and distribute this shameful code
 *                           to where it really should reside.
 *
 *
 * UTILITIES
 * All ..................... The Utility layer consists of utility helpers that
 *							 should be independent from each other. Thus they
 *							 can be glob imported.
 *
 *
 *
 * WELLNESS
 * ......................... The Wellness diagnostics are not meant to be
 *                           included in production CSS, only in the Styleguide
 *
 */