<!-- skip link -->
{{ render '@skip' global.skip-to-main }}

<!-- header -->
<header style="min-height: 100px;">
	<p>page header here.</p>
	<nav id="menu">
		<p>navigation.</p>
	</nav>
</header>

<!-- main -->
<main id="main">

	<h1>Stämmornas stämma</h1>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus libero vitae cum est facilis quisquam architecto beatae eveniet qui reiciendis iure numquam, asperiores, eaque deserunt! Aliquam veritatis soluta voluptatem eius.</p>
	<h2>Kurser</h2>
	<h3>Spelkurs med Filar Erik & Fräs Lars</h3>
	<p>Lorem ipsum dolor sit amet consectetur & adipisicing elit. Soluta, maiores totam? Distinctio, vero quos esse facere est dolor unde, officiis quibusdam perferendis commodi asperiores repellendus ratione porro! Magnam, iste voluptatum.</p>
	<p class="fineprint">Corrupti pariatur doloribus impedit, odit architecto distinctio temporibus voluptate.</p>

	{{ render '@button' }}

	<p>page content here.</p>

</main>

<!-- footer -->

<footer style="min-height: 300px;">
	<p>page footer here.</p>
</footer>
<!-- scripts -->

