.u-skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-skip-link:focus {
  position: fixed;
  top: var(--size-half);
  left: calc(var(--size-quad) * 3);  width: auto;
  height: auto;
  overflow: visible;
  z-index: 1000;
  padding: var(--size-half) var(--size-full);
}
