@use "sass:math";
@use "../02-tools/fluid.utils" as utils;
@use "sass:map";

@mixin fluid-spacing($config) {
  $bp: map.get($config, bp);
  $font: map.get($config, font);
  $spacing: map.get($config, spacing);

  $min-bp: map.get($bp, min);
  $max-bp: map.get($bp, max);
  $min-font: map.get($font, min);
  $max-font: map.get($font, max);
  $min-size: map.get($spacing, min);
  $max-size: map.get($spacing, max);

  $prefer-vw: math.div(
    100 *
      (math.div($max-size * $max-font, 1) - math.div($min-size * $min-font, 1)),
    $max-bp - $min-bp
  );

  $prefer-rem: math.div(
    math.div($min-bp * $max-size * $max-font, 16) -
      math.div($max-bp * $min-size * $min-font, 16),
    $min-bp - $max-bp
  );

  --size-root: clamp(
    #{utils.to-fixed(math.div($min-size * $min-font, 16))}rem,
    #{utils.to-fixed($prefer-vw)}vw + #{utils.to-fixed($prefer-rem)}rem,
    #{utils.to-fixed(math.div($max-size * $max-font, 16))}rem
  );

  $s: 0.25;
  $size-names: (
    "0.25": "quarter",
    "0.5": "half",
    "1": "full",
    "2": "double",
    "4": "quad",
    "8": "octo",
  );

  @for $i from 1 through 6 {
    --size-#{map.get($size-names, #{$s})}: calc(#{$s} * var(--size-root));
    --size--#{map.get($size-names, #{$s})}: calc(
      -1 * var(--size-#{map.get($size-names, #{$s})})
    );
    $s: $s * 2;
  }
}
