---
layout: "layouts/default.hbs"
title: Page
---

<h1>Eleventy Page</h1>
<p>Other content.</p>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0"
	nonce="kz1GKSjZ"></script>

	<div class="fb-post"
		data-href="https://www.facebook.com/bingsjostamman/posts/pfbid0kwXyf4TaH3s7drhvYeZW82a4TACaHVEcw6J7BqruUxVNqjjfFQPL5Qob3BLYQgMRl"
		data-width="500" data-show-text="true">
		<blockquote cite="https://www.facebook.com/bingsjostamman/posts/759698406157415" class="fb-xfbml-parse-ignore">
			<p>Det är likadant varje gång efteråt. Byn är städad, en del grejer står och väntar på att fraktas bort. Den
				sista...</p>Posted by <a href="https://www.facebook.com/bingsjostamman">Bingsjöstämman</a> on&nbsp;<a
				href="https://www.facebook.com/bingsjostamman/posts/759698406157415">Thursday, July 6, 2023</a>
		</blockquote>
	</div>


	<iframe
		src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fbingsjostamman%2Fposts%2Fpfbid0kwXyf4TaH3s7drhvYeZW82a4TACaHVEcw6J7BqruUxVNqjjfFQPL5Qob3BLYQgMRl&show_text=true&width=500"
		width="500" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
		allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
