<!-- skip link -->
{{ render '@skip' global.skip-to-main }}

<!-- header -->
<header style="min-height: 300px;">
	<p>page header here.</p>
</header>

<!-- main -->
<main id="main">

	<p>page content here.</p>

</main>

<!-- footer -->

<footer style="min-height: 300px;">
	<p>page footer here.</p>
</footer>
<!-- scripts -->

