<nav>
<ul>
  <li><a href="/">Hem</a></li>
  <li><a href="/editions/{{ editions.currentEdition }}/artists/">Artister</a></li>
  <li><a href="/editions/{{ editions.currentEdition }}/program/">Program</a></li>
  <li><a href="/editions/{{ editions.currentEdition }}/gallery/">Galleri</a></li>
</ul>
</nav>