<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Festival",
  "name": "{{ title }}",
  "startDate": "{{ start }}",
  "endDate": "{{ end }}",
  "location": {
    "@type": "Place",
    "name": "Bingsjö",
    "address": "Bingsjö, Sverige"
  }
}
</script>