---
pagination:
  data: posts.lineup.2024
  size: 1
  alias: artist
permalink: "lineup/{{ artist.name | slugify }}/"
layout: "layouts/default.hbs"
---

{{ artist.name }} plays on {{ artist.venue }}

<ul>
	<li>This should be fun!</li>
	<li>And here is some information about {{ artist.name }}:	</li>
  	{% for item in artist.text %}
    <li>{{ item.p }}</li>
  	{% endfor %}

</ul>
