{% from "components/logo/logo.njk" import logo %}
<header class="c-header o-container t-component-header">
  <div class="c-header__inner">
    <a href="/" class="c-header__logo" aria-label="Bingsjöstämman startsida">
      {{ logo("bingsjostamman-color") }}
    </a>
  </div>
</header>
