<header class="c-header">
  <a href="/" class="c-header__logo" aria-label="Bingsjöstämman – startsida">
    <img
      src="/assets/logos/logo-bingsjostamman-color.svg"
      alt="Bingsjöstämman"
      class="c-header__logo-img"
      width="200"
      height="123"
    >
  </a>

  {% include "components/menu/menu.njk" %}
</header>
